.paymentMethod {
    width: 100px;
    height: 20px;
    background: white;
}

.list {
    border-radius: 5px;
    margin: 30px auto;
    position: absolute;
    left: 0;
    right: 0;
    border: 2px solid black;
    background: white;
    overflow-y: scroll;
    text-align: left;
    font-size: 20px;
    overflow-x: hidden;
    width: 300px;
}

.listElement {
    margin: 2px 0;
    padding: 0 10px;
    width: 300px;
}

.listElement:hover {
    background: #bfbfbf;
    transition: 200ms ease-out;
    transform: scale(1.05);
    color: white;

}