.paymentMethod {
    width: 100px;
    height: 20px;
    background: white;
}

.list {
    border-radius: 5px;
    margin: 45px auto;
    position: absolute;
    left: 0;
    right: 0;
    border: 2px solid black;
    background: white;
    text-align: left;
    font-size: 20px;
    overflow-x: hidden;
    width: 100%;
    transition: 250ms linear;

}

.listElement {
    margin: 2px 0;
    padding: 0 15px;
    transition: 200ms ease-out;
}

.listElement:hover {
    background: #bfbfbf;
    transform: scale(1.03);
    color: white;

}