.value {
    user-select: none;

    border: 2px solid black;
    height: 20px;
    background: #016161;
    margin: 0 auto;
    color: white;
    cursor: pointer ;
}

.selector{
    display: flex;
    flex-direction: column;
    max-width: 120px;
    margin: 0 auto;
}