.PaymentWindow {
    border-right: 20px solid white;
    border-left: 20px solid white;
    border-radius: 10px;
    background: gray;
    text-align: center;
    user-select: none;
    display: flex;
    flex-direction: column;
    font-family: Courier New, monospace;
    height: 100vh;
    margin: 0 auto;
    max-width: 700px;
    min-width: 450px;
}

.wrapper{
    padding: 0 150px ;
    min-width: 700px;
}